body {

  margin: 0;
  padding:7vh ;
  background: url('фон.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

}
.back-button {
            position: fixed;
            top: 20px;
            left: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 20px;
            text-decoration: none;
            color: #f78fe4;
        }

        .back-button::before {
            content: '👱 👱 👱';
            margin-right: 5px;

        }

  .back-button:hover{
    font-size: 25px;
    color: #f700ca;
    text-shadow: rgba(247, 143, 228, 0.8)
  }
.OKR-text {
    font-size: 11em;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}
.OKR-text span {
    animation: colorChange 2s infinite alternate;
}

.text {
  font-family: 'Courier New', monospace;
    margin: 0;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(72, 61, 139, 0.8);
    color:#fff;
    font-size: 20px;
}


.pp{
  font-family: 'Courier New', monospace;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(53, 33, 188, 0.9);
  font-size: 20px;
  color: #db078d;
  display: flex;
  padding: 2vh;
  margin-top: -5vh;
  justify-content: center;

}

@keyframes colorChange {
          0% {
              color: #050b6e; /* красный */
          }
          25% {
              color: #4d0585; /* зеленый */
          }
          50% {
              color: #c408bb; /* синий */
          }
          75% {
              color: #079bdb; /* фиолетовый */
          }

      }



        h1 {
            font-size: 24px;
            text-align: center; /* Добавлено для выравнивания по центру */
            font-weight:1000;
          }
          p {
            font-size: 16px;
            margin-bottom: 15px;
          }


          ul {
            list-style-type: none; /* Убираем стандартные маркеры */
            padding: 0; /* Убираем внутренний отступ у списка */
          }

          li {
            font-size: 16px;
            margin-bottom: 5px;
            position: relative; /* Определение относительной позиции для позиционирования изображения */
            padding-left: 20px; /* Отступ слева для места под изображение */
          }

          li::before {
            content: ""; /* Создаем псевдоэлемент для вставки изображения */
            background-image: url('marker.png'); /* Путь к изображению маркера */
            background-size: cover; /* Растягиваем изображение по размеру блока */
            display: block; /* Делаем псевдоэлемент блочным элементом */
            width: 16px; /* Ширина изображения маркера */
            height: 16px; /* Высота изображения маркера */
            position: absolute; /* Абсолютное позиционирование относительно родительского li */
            top: 50%; /* Размещаем по вертикали по центру блока li */
            transform: translateY(-50%); /* Корректируем положение по вертикали */
            left: 0; /* Размещаем слева от блока li */
            margin-left: -10px; /* Компенсация отступа слева для изображения маркера */
          }
